@import url("https://use.typekit.net/mrx8cxp.css"
);

h1 {font-family: "thirsty-script", sans-serif;
    font-weight: 400;
    color:#63c29e;
font-size: 60px;
line-height: 64px;
margin: auto;
margin-bottom: 25px;}

h2 {font-family: "roca", sans-serif;
font: weight 700px;
font-size: 25px;
line-height: 29px;
color:#63c29e;}

html {max-width: 375px;
background-image:url("images/over-ons-back.jpg");
background-attachment: fixed;}

.logo_onlyflower {position: relative;
    top: 10px;
    left: 10px;
    height: 40px;
}

p {font-family: "roca", sans-serif;
font-weight: 400;
color:#307157;
font-size: 18px;
line-height: 22px;
}

nav ul {display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration-line: none;
    margin: 20px;
    padding: 0px;
    gap: 43px;
    background-color: #63c29e;
    width: 310px;
    height: 80px;
    border-radius: 20px;
    position: fixed;}

#block image {margin-bottom: 30px;}

#block {background-color: white;
    margin: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 20px;
    height: 380px;}

#block-other {background-color: white;
        margin: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 30px;
        border-radius: 20px;
        height: 380px;}

 #responsive-block {background-color: white;
     margin: 10px;
     margin-top: 187px;
    margin-bottom: 147px;
    padding: 30px;
    border-radius: 20px;
        }

#responsive-block p {font-family: "roca", sans-serif;
    font-size: 12px;
font-weight: 300;
line-height: 16px;}

#first-section {background-color: white;
    margin: 10px;
    margin-top: 187px;
    margin-bottom: 50px;
   padding: 30px;
   border-radius: 20px;
}

#first-section p {font-family: "roca", sans-serif;
    font-size: 12px;
font-weight: 300;
line-height: 16px;}

#first-section a {background-color: #307157;
color: white;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;
font-size: 12px;
border-radius: 10px;
text-decoration: none;}

section {background-color: white;
    margin: 10px;
    margin-bottom: 50px;
   padding: 30px;
   border-radius: 20px;}
   
section p {font-family: "roca", sans-serif;
    font-size: 12px;
font-weight: 300;
line-height: 16px;}


#first-section img {margin-top: 5px;
    margin-bottom: 15px;

}

#end-section {background-color: white;
    margin: 10px;
    margin-bottom: 147px;
   padding: 30px;
   border-radius: 20px;
}

#end-section p {font-family: "roca", sans-serif;
    font-size: 12px;
font-weight: 300;
line-height: 16px;}